doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  head
    meta(charset='UTF-8')
    link(rel='icon' type='image/svg+xml' href='/assets/bot.png')
    meta(name='author' content='Hélio Engrácia Mapupo')
    meta(name='google-site-verification' content='NcaIGPNruyoMP8Iwe6pj34SYOjz__-r9Ja69i2Q-BRI')
    meta(name='description' content='Este é um robo de inteligência artificial que pode responder quase tudo que você precisa saber')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title
      | Mozbot - uma intelig&ecirc;ncia artificial que responde todas suas perguntas
    link(rel='stylesheet' href='./chat.css')
  #app
    header.header
      nav.nav
        a(href='/')
          h1.nav__logo
            | Mozbot
            img.logo__img(src='./assets/bot.png' alt='robozinho')
        div#btns
          a#settings(href='/settings') Configurações
          button#logout-btn(type='submit') Sair
      if user.role === 'admin'
        a(href='/recharge') Recarregar
      else 
        span
    #chat_container
    if user.status === true
      form#chat-form
        textarea(name='prompt' cols='1' rows='1' placeholder='Olá, o que gostaria de saber?')
        button(type='submit') Enviar
    else
      a#whatsapp-btn(href=`https://wa.me/258845031480?text=Preciso de uma recarga MozBot para o seguinte email: ${user.email}"` target="_blank") Recarrega a sua conta para usar o Mozbot: 350 MT/mês
  script(type='module' src='/script.js')
  script(src="/logout.js" type="module") 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js")
