doctype html
head
  meta(charset='UTF-8')
  title Mozbot - P&aacute;gina n&atilde;o encontrada
  link(rel='stylesheet' href='notfound.css')
h1 Mozbot - P&aacute;gina n&atilde;o encontrada
a(href='/') Voltar &agrave; p&aacute;gina inicial
