doctype html
head
  meta(charset='UTF-8')
  title Mozbotchat - P&aacute;gina n&atilde;o encontrada
  link(rel='stylesheet' href='notfound.css')
  link(rel="manifest" href="../manifest.json")
h1 Mozbotchat - P&aacute;gina n&atilde;o encontrada
a(href='/') Voltar &agrave; p&aacute;gina inicial
