doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/assets/bot.png')
        meta(name='author' content='Hélio Engrácia Mapupo')
        meta(name='google-site-verification' content='NcaIGPNruyoMP8Iwe6pj34SYOjz__-r9Ja69i2Q-BRI')
        meta(name='description' content='Este é um robo de inteligência artificial que pode responder quase tudo que você precisa saber')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title
            | Mozbot - uma intelig&ecirc;ncia artificial que responde todas suas perguntas
        link(rel='stylesheet' href='./chat.css')
        header.header
            nav.nav
                a(href='/')
                    h1.nav__logo
                        | Mozbot
                        img.logo__img(src='./assets/bot.png' alt='robozinho')
                div#btns
                    a#settings(href='/settings') Configurações
                    button#logout-btn(type='submit') Sair
        body.settings-body 
            div#settings-container 
                h3.username #{user.username}
                p.tokens.used-tokens
                    | Tokens usados: 
                    b #{user.used_tokens}
                p.tokens.used-tokens
                    | Tokens restantes: 
                    b #{user.max_tokens - user.used_tokens}
                div.token-about 
                    p 1000 tokens é equivalente a 750 palavras. Dependendo das configurações da sua página (tamanho de fonte, espaçamento de linhas, margens), com 500000 tokens você pode receber respostas até 1500 páginas.
                    p Isto significa que, se juntar todo o texto que vai receber nas diferentes questões que fará ao bot, pode preencher 1500 páginas A4.

